[db]
connection_string="postgres://localhost/motki"
max_connections=5

[http]
listen="127.0.0.1:8080"

[http.ssl]
listen="127.0.0.1:8443"
certfile="/path/to/cert.crt"
keyfile="/path/to/cert.pem"

[http.sessions]
store="file" # or "memory"

[http.sessions.file]
storage_path="tmp"

[http.templates]
views_path="views"

[eveapi]
client_id=""
secret_key=""
return_url=""
user_agent="MOTKI Corp Integration <contact@tylersommer.pro>"